@import "tailwindcss";
@use "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "Google Sans Code Variable", monospace;
}

html {
  scroll-behavior: smooth;
}
