---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Warbacon - Blog">
    <main class="m-auto mt-10 max-w-[80ch] space-y-5 px-6">
        <h1 class="text-5xl font-bold text-ctp-peach">Blog</h1>
        <h2 class="text-2xl">Coming soon!</h2>
    </main>
</Layout>
