---
import Layout from "../layouts/Layout.astro";
import GitHubRepo from "../components/GitHubRepo.astro";
---

<Layout title="Warbacon - Portfolio">
    <main class="m-auto max-w-prose space-y-16 px-6 md:px-0">
        <section class="my-20 flex flex-col items-start justify-center gap-2 md:items-center">
            <h2 class="text-3xl font-bold text-ctp-peach">Computer Science Student</h2>
            <h1 class="text-7xl font-bold">Joaquín Guerra</h1>
            <p class="mt-2 text-ctp-subtext0">Linux enthusiast and Web Designer.</p>
        </section>
        <section class="space-y-4">
            <h2 class="scroll-mt-24 text-balance text-3xl font-bold">About Me</h2>
            <p>
                Hi! My name is Joaquín Guerra Tocino, I'm from Spain and I study Computer Science in
                the University of Cádiz.
            </p>
            <p>
                I love tinkering with my system and making it my own, developing efficient ways to
                do my job, and that's why I love Linux!
            </p>
            <p>
                I have extensive knowledge of web technologies, always try to keep up to date with
                the most revolutionary and, above all, I'm not afraid to learn something new on a
                daily basis!
            </p>
        </section>
        <section class="space-y-4">
            <h2 class="scroll-mt-24 text-3xl font-bold">Skills</h2>
            <p>
                I am proficient in C, C++, and Python. I frequently use Svelte and Astro.
                Additionally, I am capable of writing intricate and complex scripts. I also know
                more about Linux than I probably should.
            </p>
        </section>
        <section class="space-y-4">
            <h2 class="scroll-mt-24 text-3xl font-bold">Projects</h2>
            <div class="flex flex-col gap-4 md:grid md:grid-cols-2">
                <GitHubRepo
                    repo="zunder-zsh"
                    imageUrl="https://repository-images.githubusercontent.com/441279901/c92ca975-c53b-420f-866b-e548f5f29ffe"
                />
                <GitHubRepo
                    repo="baconclock"
                    imageUrl="https://repository-images.githubusercontent.com/601216652/587e54ae-baad-4e07-9041-099b2ce6b899"
                />
            </div>
        </section>
    </main>
    <footer class="mx-auto mt-10 max-w-[80ch] gap-3">
        <div class="h-[1px] w-full bg-ctp-surface2 px-6"></div>
        <div class="my-4 flex items-center justify-between px-6 text-ctp-subtext0">
            <p class="italic">I use Arch btw</p>
            <div
                class="rounded-md px-4 py-3 ring-ctp-peach transition-colors hover:bg-ctp-surface0 hover:text-ctp-text hover:underline focus:outline-none focus:ring-4"
            >
                <a href="https://github.com/warbacon/personal-website">Source code</a>
            </div>
        </div>
    </footer>
</Layout>
