---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import GithubRepo from "../components/GithubRepo.astro";
---

<Layout title="Warbacon - Portfolio">
  <main class="my-6 space-y-16">
    <Hero />
    <section class="space-y-5">
      <h3
        class="text-3xl font-bold text-teal-700 dark:text-teal-400"
        id="about"
      >
        About me
      </h3>
      <article class="space-y-3">
        <p>
          Hey there! I'm <b>Joaquín Guerra Tocino</b>, a Computer Engineering
          student in my final year at the University of Cádiz, Spain.
        </p>
        <p>
          I'm passionate about free software, minimalism, and having full
          control over my setup. Whether it's tweaking a shell config,
          optimizing a workflow, or diving deep into Linux internals, I love
          making my system truly mine.
        </p>
        <p>
          I mostly develop in <b>C++</b>, <b>Python</b> and <b>Lua</b>, but I'm
          always exploring new languages and tools.
        </p>
        <p>
          When it comes to the web, I have strong experience with modern
          technologies and frameworks. I'm especially fond of <b>Astro</b> and <b
            >Svelte</b
          > — I love how they let me build fast, clean, and expressive user interfaces
          with minimal overhead. I always try to stay up to date with the latest
          trends, and I'm never afraid to dive into something new.
        </p>
      </article>
    </section>
    <section class="space-y-5">
      <h3
        class="text-3xl font-bold text-teal-700 dark:text-teal-400"
        id="projects"
      >
        Projects
      </h3>
      <article class="space-y-3">
        <GithubRepo repo="zunder-zsh" />
        <GithubRepo repo="baconclock" />
      </article>
    </section>
    <section class="space-y-5">
      <h3
        class="text-3xl font-bold text-teal-700 dark:text-teal-400"
        id="skills"
      >
        Skills
      </h3>
      <article class="space-y-3">
        <p>I can type I guess</p>
      </article>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  *[id] {
    scroll-margin-top: 100px;
  }
</style>
