---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Warbacon - Portfolio">
  <main class="my-6 space-y-8">
    <section>
      <h3 class="text-3xl font-bold" id="about">About me</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas fugit ex
        enim, iste accusantium maiores doloremque voluptatum magnam ipsam,
        pariatur porro! Molestiae, dolore similique. Laudantium quia debitis aut
        similique dolore? Error rem facere libero sapiente nulla accusantium
        sint, ullam quas a ratione ab. Harum quae ex rem necessitatibus
        distinctio velit eligendi hic quod ad minima, doloremque recusandae,
        dolore non itaque? Quidem et reiciendis labore exercitationem
        voluptatem? Iste nihil autem molestias ratione quaerat consequuntur
        culpa possimus optio corrupti, quam vitae amet repellendus eius cum,
        voluptatibus mollitia maiores expedita, est tenetur natus. Aut
        aspernatur qui rem odio, cupiditate necessitatibus ducimus, praesentium,
        molestias nulla explicabo maxime nostrum unde tempore? Corporis, quia
        itaque quaerat beatae eius quis animi modi porro tempore, accusamus,
        aliquam omnis. Facilis explicabo facere totam dolores a illum fuga,
        earum molestiae saepe dolore fugit consectetur voluptatum ipsa eius
        ipsum, eos reiciendis assumenda voluptate autem eum voluptatem natus
        quod veniam quo! Minus! Voluptatibus velit sed dolorem necessitatibus
        qui optio dolor numquam similique atque! Similique exercitationem
        aliquam illum! Alias atque eius veritatis. Dolorem eveniet cumque
        voluptatibus delectus magni atque, sit nobis rerum optio.
      </p>
    </section>
    <section>
      <h3 class="text-3xl font-bold" id="projects">Projects</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas fugit ex
        enim, iste accusantium maiores doloremque voluptatum magnam ipsam,
        pariatur porro! Molestiae, dolore similique. Laudantium quia debitis aut
        similique dolore? Error rem facere libero sapiente nulla accusantium
        sint, ullam quas a ratione ab. Harum quae ex rem necessitatibus
        distinctio velit eligendi hic quod ad minima, doloremque recusandae,
        dolore non itaque? Quidem et reiciendis labore exercitationem
        voluptatem? Iste nihil autem molestias ratione quaerat consequuntur
        culpa possimus optio corrupti, quam vitae amet repellendus eius cum,
        voluptatibus mollitia maiores expedita, est tenetur natus. Aut
        aspernatur qui rem odio, cupiditate necessitatibus ducimus, praesentium,
        molestias nulla explicabo maxime nostrum unde tempore? Corporis, quia
        itaque quaerat beatae eius quis animi modi porro tempore, accusamus,
        aliquam omnis. Facilis explicabo facere totam dolores a illum fuga,
        earum molestiae saepe dolore fugit consectetur voluptatum ipsa eius
        ipsum, eos reiciendis assumenda voluptate autem eum voluptatem natus
        quod veniam quo! Minus! Voluptatibus velit sed dolorem necessitatibus
        qui optio dolor numquam similique atque! Similique exercitationem
        aliquam illum! Alias atque eius veritatis. Dolorem eveniet cumque
        voluptatibus delectus magni atque, sit nobis rerum optio.
      </p>
    </section>
    <section>
      <h3 class="text-3xl font-bold" id="skills">Skills</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas fugit ex
        enim, iste accusantium maiores doloremque voluptatum magnam ipsam,
        pariatur porro! Molestiae, dolore similique. Laudantium quia debitis aut
        similique dolore? Error rem facere libero sapiente nulla accusantium
        sint, ullam quas a ratione ab. Harum quae ex rem necessitatibus
        distinctio velit eligendi hic quod ad minima, doloremque recusandae,
        dolore non itaque? Quidem et reiciendis labore exercitationem
        voluptatem? Iste nihil autem molestias ratione quaerat consequuntur
        culpa possimus optio corrupti, quam vitae amet repellendus eius cum,
        voluptatibus mollitia maiores expedita, est tenetur natus. Aut
        aspernatur qui rem odio, cupiditate necessitatibus ducimus, praesentium,
        molestias nulla explicabo maxime nostrum unde tempore? Corporis, quia
        itaque quaerat beatae eius quis animi modi porro tempore, accusamus,
        aliquam omnis. Facilis explicabo facere totam dolores a illum fuga,
        earum molestiae saepe dolore fugit consectetur voluptatum ipsa eius
        ipsum, eos reiciendis assumenda voluptate autem eum voluptatem natus
        quod veniam quo! Minus! Voluptatibus velit sed dolorem necessitatibus
        qui optio dolor numquam similique atque! Similique exercitationem
        aliquam illum! Alias atque eius veritatis. Dolorem eveniet cumque
        voluptatibus delectus magni atque, sit nobis rerum optio.
      </p>
    </section>
  </main>
</Layout>

<script>
  document.querySelectorAll('a[href^="/#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const targetId = this.getAttribute("href").split("#")[1];
      const targetEl = document.getElementById(targetId);

      if (targetEl) {
        const headerHeight =
          document.querySelector("header")?.offsetHeight || 66;
        const offset = headerHeight + 46;
        const elementPosition = targetEl.getBoundingClientRect().top;
        const offsetPosition = elementPosition + window.scrollY - offset;

        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth",
        });
      }
    });
  });
</script>
