<button
  class="w-fit cursor-pointer rounded-full bg-teal-700 px-5 py-2.5 font-medium text-zinc-100 transition-all hover:bg-teal-600 active:scale-95 dark:bg-teal-300 dark:text-zinc-900 hover:dark:bg-teal-200"
>
  <slot />
</button>
