<footer
  class="mt-10 flex items-center justify-between border-t-1 border-t-zinc-400 py-6 text-zinc-600 dark:border-t-zinc-600 dark:text-zinc-400"
>
  <p class="italic">I use NixOS BTW</p>
  <a
    class="block rounded-full px-4 py-2 text-nowrap transition-all hover:bg-zinc-950/10 hover:text-zinc-900 active:scale-95 hover:dark:bg-zinc-50/10 dark:hover:text-zinc-100"
    href="https://github.com/warbacon/personal-website">Source code</a
  >
</footer>
