---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Warbacon"}</title>
  </head>
  <body
    class="bg-zinc-200 font-mono text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100"
  >
    <Header />
    <div class="mx-auto max-w-[80ch] px-6 lg:px-0">
      <slot />
    </div>
  </body>
</html>
