---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
import Header from "../components/Header.astro";
import { ArrowUp } from "@lucide/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Warbacon"}</title>
  </head>
  <body
    class="bg-zinc-200 font-mono text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100"
  >
    <Header />
    <div class="mx-auto max-w-[80ch] px-6 lg:px-0">
      <slot />
    </div>
    <button
      id="upButton"
      class="pointer-events-none fixed right-10 bottom-10 w-fit cursor-pointer rounded-full bg-teal-700 p-2.5 font-medium text-zinc-100 opacity-0 transition-[opacity,background-color] hover:bg-teal-600 dark:bg-teal-300 dark:text-zinc-900 hover:dark:bg-teal-200"
    >
      <ArrowUp />
    </button>
  </body>
</html>

<script>
  const upButton = document.getElementById("upButton");

  const toggleUpButton = () => {
    const shouldShow = window.scrollY > 200;
    upButton?.classList.toggle("opacity-0", !shouldShow);
    upButton?.classList.toggle("pointer-events-none", !shouldShow);
    upButton?.classList.toggle("opacity-100", shouldShow);
  };

  window.addEventListener("scroll", toggleUpButton);
  document.addEventListener("DOMContentLoaded", toggleUpButton);

  upButton?.addEventListener("click", () => {
    window.scrollTo({ top: 0 });
    history.replaceState(
      null,
      "",
      window.location.pathname + window.location.search,
    );
  });
</script>
