---
import "../styles/global.css";
import "@fontsource-variable/geist-mono";
import Header from "../components/Header.astro";

import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title ?? "Warbacon"}</title>

    <meta
      name="description"
      content="Joaquín Guerra Tocino's personal website."
    />
    <meta name="author" content="Joaquín Guerra Tocino" />
    <meta name="keywords" content="portfolio,blog" />
    <meta name="robots" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <script>
      const root = document.documentElement;
      const userTheme = localStorage.getItem("theme");
      const systemPrefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      const isDark = userTheme === "dark" || (!userTheme && systemPrefersDark);
      if (isDark) root.classList.add("dark");
    </script>
  </head>
  <body
    class="bg-zinc-200 font-mono text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100"
  >
    <Header />
    <div class="mx-auto max-w-[80ch] px-6 lg:px-0">
      <slot />
    </div>
  </body>
</html>
